@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.colore1{
    background-color: #bdecb6;
}

.col-6{
        text-align: left;
}

.centre{
    text-align: center;
}

#body {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.number{
    margin-bottom: 18px;
    padding: 20px 140px;
    border-radius: 10px;
}

#b{
    margin-bottom: 18px;
    padding: 20px 159px;
    border-radius: 10px;
    background-color: #3AE3A8;
}

h1{
    padding-top: 120px;
    padding-bottom: 48px;
    text-align: center;
}

p{
    text-align: left;
    padding-left: 32px;
    padding-top: 50px;
}

.colore2{
    background-color: #e3d23a;
}

.colore3{
    background-color: #e33a3a;
}

.colore4{
    background-color: #1048c9;
}

.colore5{
    background-color: #7c10c9;
}

.colore6{
    background-color: #c910c9;
}
